*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
}

:root {
  --linear-gradient: hsl(249, 99%, 64%);
  --linear-gradient-active: hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

/* ******************************************* */

.container {
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  min-height: 100vh;
  padding: 1.875rem 0.625rem;
}

.cards {
  position: relative;
  top: -4.6875rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  .card__content {
    position: absolute;
    z-index: 2;
    padding: 1.875rem;
  }
}

.card_front {
  position: relative;
}

.icon:not(:last-child) {
  margin-bottom: 2.9375rem;
}

.number-card {
  font-size: 1.875rem;
  text-align: center;
}

.card-data {
  display: flex;
  justify-content: space-between;
}

.owner-card {
  text-transform: uppercase;
}

.card_back {
  position: absolute;
  right: -5.25rem;
}

.card-cvc {
  position: absolute;
  top: 42.8%;
  right: 10%;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  color: var(--white);
}

.form {
  position: relative;
  z-index: 2;
  .form__content {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }
}

.info-card {
  display: flex;
  gap: 0.9375rem;

  &:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

.exp-date {
  .exp-date__input {
    width: 3.75rem;
  }
}

.form__button {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.4375rem;
  color: var(--white);
  background-color: var(--very-dark-violet);
  transition: all 0.3s ease-in-out;
}

.complete {
  .complete__content {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .complete__icon {
    &:not(:last-child) {
      margin-bottom: 1.5625rem;
    }
  }

  .complete__congratulation {
    font-size: 1.875rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;

    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }

  .complete__text {
    color: var(--dark-grayish-violet);

    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }
}

.cardholder-name__input,
.card-number__input {
  width: 100%;
}

.bg-card-front,
.bg-card-back {
  & img {
    max-width: 100%;
    object-fit: cover;
  }
}

.date,
.owner-card,
.number-card {
  letter-spacing: 0.125rem;
  color: var(--white);
}

.cardholder-name__input,
.card-number__input,
.exp-date__input,
.cvc__input {
  border: 0.0625rem solid var(--dark-grayish-violet);
  border-radius: 0.4375rem;
  padding: 0.625rem;

  &::placeholder {
    color: var(--dark-grayish-violet);
  }
}

.cardholder-name__label,
.card-number__label,
.exp-date__label,
.cvc__label {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: var(--very-dark-violet);
}

/* TABLET */

@media (min-width: 800px) {
  .number-card {
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }
}

@media (max-width: 940px) {
  .card {
    .card__content {
      padding: 0.625rem 0.9375rem 0px 0.9375rem;
    }
  }

  .number-card {
    font-size: 1.25rem;
  }

  .icon:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .owner-card,
  .date {
    font-size: 0.5rem;
  }
}

@media (max-width: 968px) {
  .exp-date {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
  }
}

/* MOBILE */

@media (min-width: 767px) {
  .container {
    &::before {
      content: "";
      position: absolute;
      width: 30.1875rem;
      height: 100%;
      background-image: url("/images/bg-main-desktop.png");
      background-repeat: no-repeat;
    }
  }

  .card_front {
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  .form__button {
    &:hover {
      color: var(--very-dark-violet);
      background-color: var(--white);
    }
  }
}

@media (max-width: 767px) {
  .container {
    &::before {
      content: "";
      position: absolute;
      width: 23.4375rem;
      height: 100%;
      background-image: url("/images/bg-main-mobile.png");
      background-repeat: no-repeat;
    }
  }

  .content {
    gap: 7.5rem;
    flex-direction: column;
  }

  .cards {
    top: 5.3125rem;
    left: -0.9375rem;
    bottom: -6.5rem;
  }

  .cards__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .card_front {
    z-index: 2;
  }

  .icon:not(:last-child) {
    margin-bottom: 1.6875rem;
  }

  .number-card {
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }

  .card-cvc {
    top: 39.8%;
  }

  .bg-card-front,
  .bg-card-back {
    & img {
      max-width: 18.125rem;
      object-fit: cover;
    }
  }

  .card_back {
    bottom: 5.5625rem;
    right: -2.9375rem;
  }
}
